
html {
    font-size: 16px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

body {
    background-image: url("bg.jpg");
    margin: auto;
    padding: auto;
}

nav {
    text-align: center;
    padding: 25px 10px;
    background-color: aliceblue;
    color: white;
    border-bottom: 4px solid #dafdff;
    border-radius: 0 0 3px 3px;
}

img {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 300px;
}

.mainn {
    width: auto;
    padding: 10px;
    font-size: 1rem;
    color: white;
    text-align: center;
    margin-top: 10px;
}

#links {
    display: inline;
    margin-top: 55px;
    padding: 7px;
    float: none;
    border: 4px solid aliceblue;
    border-radius: 5px;
}